# Project 2: Data Import - Working with Web APIs and JSON (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 2 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Importing Data from JSON files

1. __Import__ the json files __blockbusters.json__, __blockbusters2.json__, __blockbusters3.json__ and load the datasets into Pandas DataFrames.

In [1]:
import pandas as pd
import json

In [2]:
with open('blockbusters.json') as f:
    data1 = json.load(f)

In [3]:
data1

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 1845034188,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1506249360,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1330764959,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 104},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1241891456,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

In [4]:
type(data1)

list

In [5]:
df1 = pd.DataFrame(data1)

In [6]:
df1

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [11]:
df2 = pd.read_json('blockbusters2.json')
df3 = pd.read_json('blockbusters3.json', orient='split')

## Working with APIs and JSON (Part 1)

2. __Create an account__ on https://www.themoviedb.org/

3. Get your personal __API Key__

4. __API-Request__ (movie module): Load all available information for the movie with __movie id = 140607__ into a Pandas DataFrame. <br> See https://developers.themoviedb.org/3/movies/get-movie-details for more information

In [20]:
api_key = 'api_key=032eb5d7c6777a9825adc631544d7a99'

In [13]:
import requests
pd.options.display.max_columns = 30

In [14]:
movie_id = 140607

In [25]:
movie_api = 'https://api.themoviedb.org/3/movie/{}?'
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [26]:
url = movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=032eb5d7c6777a9825adc631544d7a99'

In [27]:
r = requests.get(url)
r

In [30]:
data = r.json()
data

{'adult': False,
 'backdrop_path': '/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 55.969,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.303,
 'vote_count': 17825}

In [31]:
type(data)

dict

In [33]:
#pd.DataFrame(data) 'ERROR'
pd.Series(data)

adult                                                                False
backdrop_path                             /8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          55.969
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                         7.303
vote_count                                                           17825
dtype: object

In [35]:
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,55.969,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.303,17825

In [36]:
pd.json_normalize(data,sep='_')

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,55.969,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.303,17825,10,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [37]:
pd.json_normalize(data, record_path='genres', meta='title')

    id             name                         title
0   12        Adventure  Star Wars: The Force Awakens
1   28           Action  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [38]:
pd.json_normalize(data, record_path='production_companies', meta='title')

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

## Working with APIs and JSON (Part 2)

5. __API-Request__ (discover module): Load all movies with __release date between 2020-01-01 and 2020-02-29__ into a Pandas DataFrame. <br>
See https://www.themoviedb.org/documentation/api/discover and https://developers.themoviedb.org/3/discover/movie-discover for more information.

In [39]:
discover_api = 'https://api.themoviedb.org/3/discover/movie?'
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29"

In [41]:
url = discover_api + api_key + query
data = requests.get(url).json()
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 96.581,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 3185},
  {'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Powered with incredible speed, Sonic The Hedgehog embraces his new home on Earth. That is, until Sonic sparks the attention of super-uncool evil genius Dr. Robotnik. Now it’s super-villain vs. super-sonic in an all-out race across the globe to stop Robotnik from using Sonic’s unique power for world domination.',
   'popularity': 89.535,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 8575},
  {'adult': False,
   'backdrop_path': '/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 84.633,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 7,
   'vote_count': 9300},
  {'adult': False,
   'backdrop_path': '/4J1Vu6oGzt60fakP4delEPDqEhI.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 80.078,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 7361},
  {'adult': False,
   'backdrop_path': '/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg',
   'genre_ids': [35, 80, 28],
   'id': 522627,
   'original_language': 'en',
   'original_title': 'The Gentlemen',
   'overview': 'American expat Mickey Pearson has built a highly profitable marijuana empire in London. When word gets out that he’s looking to cash out of the business forever it triggers plots, schemes, bribery and blackmail in an attempt to steal his domain out from under him.',
   'popularity': 60.662,
   'poster_path': '/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg',
   'release_date': '2020-01-01',
   'title': 'The Gentlemen',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 4738},
  {'adult': False,
   'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg',
   'genre_ids': [16, 12, 28, 14],
   'id': 631132,
   'original_language': 'ja',
   'original_title': "ゴブリンスレイヤー -GOBLIN'S CROWN-",
   'overview': 'Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information on the Noble Fencer that disappeared after leaving to slay some goblins. A small village gets attacked, they encounter a mysterious chapel, and something about how these goblins are acting bothers the Goblin slayer.  In order to save the captured Noble Fencer, the Goblin Slayer and his party head to an ancient fortress covered in snow to face off with a powerful foe and a horde of goblins!',
   'popularity': 55.849,
   'poster_path': '/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg',
   'release_date': '2020-02-01',
   'title': "Goblin Slayer: Goblin's Crown",
   'video': False,
   'vote_average': 7.4,
   'vote_count': 204},
  {'adult': False,
   'backdrop_path': '/z8sNNjEXEpZNQCHCuo3QH8kK00t.jpg',
   'genre_ids': [10749],
   'id': 665142,
   'original_language': 'ko',
   'original_title': '어린 이모 3',
   'overview': "Seok-yeong has been living with his father ever since his parents got divorced when he was young. His father, Joong-nam, would always introduce his new girlfriends to Seok-yeong, but Seok-yeong didn't like running into strangers in his house. At the same time, Seok-yeong feels more comfortable with women older than him.  One day, Joong-nam says he's going to marry his new girlfriend, Gyeo-won. At a family dinner, Seok-yeong feels attracted to Gyeo-won's sister, Gyeo-woon, but he has to call her 'aunt'",
   'popularity': 52.651,
   'poster_path': '/qD7kT9LysayisTiCrdFyhZWIuK1.jpg',
   'release_date': '2020-01-02',
   'title': 'Young Aunt 3',
   'video': False,
   'vote_average': 5.3,
   'vote_count': 4},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [18],
   'id': 677118,
   'original_language': 'ko',
   'original_title': '오르가즘 특강 2',
   'overview': 'Yuner, Liu Ren, and Zhou Xian are college girlfriends. They went to the holiday house to take pictures and swim together during the holidays. However, the three women soon became bored. Yuner came up with the idea of seducing men and happened to encounter a handsome sports car The passing Shi Yu and the senior asked the three women for directions, and Yuner handed over the phone number to the two men, and this extraordinary experience began …',
   'popularity': 46.976,
   'poster_path': '/gYSJi5avO0RmzrX9ZbKwM7ZMkng.jpg',
   'release_date': '2020-02-20',
   'title': 'Orgasm Lecture 2',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg',
   'genre_ids': [16, 28, 12, 14],
   'id': 571265,
   'original_language': 'ja',
   'original_title': 'デジモンアドベンチャー LAST EVOLUTION 絆',
   'overview': 'Tai is now a university student, living alone, working hard at school, and working every day, but with his future still undecided. Meanwhile, Matt and others continue to work on Digimon incidents and activities that help people with their partner Digimon. When an unprecedented phenomenon occurs, the DigiDestined discover that when they grow up, their relationship with their partner Digimon will come closer to an end.  As a countdown timer activates on the Digivice, they realize that the more they fight with their partner Digimon, the faster their bond breaks. Will they fight for others and lose their partner? The time to choose and decide is approaching fast. There is a short time before “chosen children” will become adults. This is the last adventure of Tai and Agumon.',
   'popularity': 40.937,
   'poster_path': '/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg',
   'release_date': '2020-02-21',
   'title': 'Digimon Adventure: Last Evolution Kizuna',
   'video': False,
   'vote_average': 8.1,
   'vote_count': 211},
  {'adult': False,
   'backdrop_path': '/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg',
   'genre_ids': [10751, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 40.256,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-02',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.7,
   'vote_count': 3221},
  {'adult': False,
   'backdrop_path': '/l5QIdMqvmQj3h1memAOlC91oRC8.jpg',
   'genre_ids': [10749],
   'id': 700567,
   'original_language': 'ko',
   'original_title': '어린 처형 3',
   'overview': "Seong-hee and Hyeon-hee are sisters. However, these sisters have many secrets. One secret is that the older sister, Hyeon-hee, is having an inappropriate affair with her sister's husband. Seong-hee knows about her sister and her husband, and is having an affair with her sister's boyfriend. Another secret of theirs surfaces...",
   'popularity': 38.104,
   'poster_path': '/2RwyJMFy5DMaMB6fxQNJso09koq.jpg',
   'release_date': '2020-01-09',
   'title': 'Young Older Sister-in-Law 3',
   'video': False,
   'vote_average': 1,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [28, 27, 878],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 38.06,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 2666},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14, 28],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 36.759,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 5409},
  {'adult': False,
   'backdrop_path': '/oKqsZr4Jq1Y3fPZ0ufgzUs2ToK2.jpg',
   'genre_ids': [53, 27],
   'id': 532870,
   'original_language': 'en',
   'original_title': 'Run Sweetheart Run',
   'overview': 'A woman runs for her life though the streets of Los Angeles after her blind date suddenly turns violent.',
   'popularity': 34.82,
   'poster_path': '/9xf3aiAxjx2H34EwwVFFlOrr0nt.jpg',
   'release_date': '2020-01-27',
   'title': 'Run Sweetheart Run',
   'video': False,
   'vote_average': 6,
   'vote_count': 112},
  {'adult': False,
   'backdrop_path': '/yy85YPsJEVxCy97A89cAwdsCUXa.jpg',
   'genre_ids': [18, 10749],
   'id': 677115,
   'original_language': 'zh',
   'original_title': '비뇨기과 여의사들 2',
   'overview': 'Jin Hee is a female urologist who runs a urology department with few patients. One day, a new nurse, Yeon-hee, comes in and works. However, she throws her her whole body in the treatment of patients with an unusual professional spirit. This fact is quickly rumored and patients flock in. Skilled female doctor Jin Hee also starts hot treatment to save the hospital...',
   'popularity': 34.815,
   'poster_path': '/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg',
   'release_date': '2020-02-20',
   'title': 'Female Urologists 2',
   'video': False,
   'vote_average': 6.8,
   'vote_count': 6},
  {'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'genre_ids': [10749, 18],
   'id': 342470,
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'popularity': 34.676,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'release_date': '2020-02-28',
   'title': 'All the Bright Places',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 2594},
  {'adult': False,
   'backdrop_path': '/sizHX5VbwlBihaathTQHVGk1jdi.jpg',
   'genre_ids': [878, 18, 28],
   'id': 514207,
   'original_language': 'ru',
   'original_title': 'Вторжение',
   'overview': 'Two years after the fall of the alien ship, the life of a young woman from Moscow has been changed forever. Her growing powers are now at the focus of both human and celestial investigation: an alien force takes an interest in her, and will stop short of nothing, including an invasion. Can love and compassion save humanity, when faced with a much greater and more demanding test this time?',
   'popularity': 32.774,
   'poster_path': '/dqKqzcdhtJwOhjqe89RTURqILtl.jpg',
   'release_date': '2020-01-01',
   'title': 'Invasion',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 688},
  {'adult': False,
   'backdrop_path': '/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg',
   'genre_ids': [53, 878, 27],
   'id': 570670,
   'original_language': 'en',
   'original_title': 'The Invisible Man',
   'overview': "When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see.",
   'popularity': 31.778,
   'poster_path': '/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg',
   'release_date': '2020-02-26',
   'title': 'The Invisible Man',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 5028},
  {'adult': False,
   'backdrop_path': '/3pIqd1hgZ2xqzWEyiYp4blqE9Fi.jpg',
   'genre_ids': [53, 36, 18, 28],
   'id': 522241,
   'original_language': 'en',
   'original_title': 'The Courier',
   'overview': 'Cold War spy Greville Wynne and his Russian source try to put an end to the Cuban Missile Crisis.',
   'popularity': 30.611,
   'poster_path': '/zFIjKtZrzhmc7HecdFXXjsLR2Ig.jpg',
   'release_date': '2020-01-24',
   'title': 'The Courier',
   'video': False,
   'vote_average': 7,
   'vote_count': 885},
  {'adult': False,
   'backdrop_path': '/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg',
   'genre_ids': [27],
   'id': 575088,
   'original_language': 'ru',
   'original_title': 'Яга. Кошмар тёмного леса',
   'overview': 'The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confidence. However, the older boy, Egor, talks about the frightening behavior of a woman, but his parents do not believe him. The surveillance cameras installed by the father for comfort only confirm everything is in order. Then one day, Egor, returning home, finds no trace of either the nanny or the little sister, and the parents are in a strange trance and do not even remember that they had a daughter. Then Egor, together with his friends, goes in search, during which it turns out that the nanny is an ancient Slavic demon, popularly known as Baba Yaga.',
   'popularity': 30.327,
   'poster_path': '/8m5HTXzwewlfXhtZtLlLts53YTW.jpg',
   'release_date': '2020-02-27',
   'title': 'Baba Yaga: Terror of the Dark Forest',
   'video': False,
   'vote_average': 6,
   'vote_count': 201}],
 'total_pages': 270,
 'total_results': 5389}

In [42]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreY...",270,5389
1,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",270,5389
2,1,"{'adult': False, 'backdrop_path': '/uozb2VeD87...",270,5389
3,1,"{'adult': False, 'backdrop_path': '/4J1Vu6oGzt...",270,5389
4,1,"{'adult': False, 'backdrop_path': '/tintsaQ0WL...",270,5389
5,1,"{'adult': False, 'backdrop_path': '/ySHlkHDbXz...",270,5389
6,1,"{'adult': False, 'backdrop_path': '/z8sNNjEXEp...",270,5389
7,1,"{'adult': False, 'backdrop_path': None, 'genre...",270,5389
8,1,"{'adult': False, 'backdrop_path': '/pQdZmXq0vv...",270,5389
9,1,"{'adult': False, 'backdrop_path': '/AgkGh4epJy...",270,5389
10,1,"{'adult': False, 'backdrop_path': '/l5QIdMqvmQ...",270,5389
11,1,"{'adult': False, 'backdrop_path': '/ww7eC3BqSb...",270,5389
12,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirO...",270,5389
13,1,"{'adult': False, 'backdrop_path': '/oKqsZr4Jq1...",270,5389
14,1,"{'adult': False, 'backdrop_path': '/yy85YPsJEV...",270,5389
15,1,"{'adult': False, 'backdrop_path': '/tcrNJfyNEI...",270,5389
16,1,"{'adult': False, 'backdrop_path': '/sizHX5Vbwl...",270,5389
17,1,"{'adult': False, 'backdrop_path': '/tweDJNQzBG...",270,5389
18,1,"{'adult': False, 'backdrop_path': '/3pIqd1hgZ2...",270,5389
19,1,"{'adult': False, 'backdrop_path': '/rc8WAwoTTZ...",270,5389

In [43]:
pd.DataFrame(data['results'])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domes...,96.581,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.6,3185
1,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,"Powered with incredible speed, Sonic The Hedge...",89.535,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.4,8575
2,False,/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",84.633,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,7.0,9300
3,False,/4J1Vu6oGzt60fakP4delEPDqEhI.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,80.078,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.2,7361
4,False,/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg,"[35, 80, 28]",522627,en,The Gentlemen,American expat Mickey Pearson has built a high...,60.662,/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg,2020-01-01,The Gentlemen,False,7.7,4738
5,False,/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg,"[16, 12, 28, 14]",631132,ja,ゴブリンスレイヤー -GOBLIN'S CROWN-,Goblin Slayer and his party head up to the sno...,55.849,/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg,2020-02-01,Goblin Slayer: Goblin's Crown,False,7.4,204
6,False,/z8sNNjEXEpZNQCHCuo3QH8kK00t.jpg,[10749],665142,ko,어린 이모 3,Seok-yeong has been living with his father eve...,52.651,/qD7kT9LysayisTiCrdFyhZWIuK1.jpg,2020-01-02,Young Aunt 3,False,5.3,4
7,False,None,[18],677118,ko,오르가즘 특강 2,"Yuner, Liu Ren, and Zhou Xian are college girl...",46.976,/gYSJi5avO0RmzrX9ZbKwM7ZMkng.jpg,2020-02-20,Orgasm Lecture 2,False,0.0,0
8,False,/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg,"[16, 28, 12, 14]",571265,ja,デジモンアドベンチャー LAST EVOLUTION 絆,"Tai is now a university student, living alone,...",40.937,/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg,2020-02-21,Digimon Adventure: Last Evolution Kizuna,False,8.1,211
9,False,/AgkGh4epJyhvs9JqSEUVABz1gJh.jpg,"[10751, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the...",40.256,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-02,Dolittle,False,6.7,3221
10,False,/l5QIdMqvmQj3h1memAOlC91oRC8.jpg,[10749],700567,ko,어린 처형 3,"Seong-hee and Hyeon-hee are sisters. However, ...",38.104,/2RwyJMFy5DMaMB6fxQNJso09koq.jpg,2020-01-09,Young Older Sister-in-Law 3,False,1.0,1
11,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[28, 27, 878]",443791,en,Underwater,After an earthquake destroys their underwater ...,38.060,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,2020-01-08,Underwater,False,6.3,2666
12,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14, 28]",508439,en,Onward,"In a suburban fantasy world, two teenage elf b...",36.759,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.7,5409
13,False,/oKqsZr4Jq1Y3fPZ0ufgzUs2ToK2.jpg,"[53, 27]",532870,en,Run Sweetheart Run,A woman runs for her life though the streets o...,34.820,/9xf3aiAxjx2H34EwwVFFlOrr0nt.jpg,2020-01-27,Run Sweetheart Run,False,6.0,112
14,False,/yy85YPsJEVxCy97A89cAwdsCUXa.jpg,"[18, 10749]",677115,zh,비뇨기과 여의사들 2,Jin Hee is a female urologist who runs a urolo...,34.815,/uksxhYz0Xc7c5AIjoU205XXEVk8.jpg,2020-02-20,Female Urologists 2,False,6.8,6
15,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,"[10749, 18]",342470,en,All the Bright Places,Two teens facing personal struggles form a pow...,34.676,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,2020-02-28,All the Bright Places,False,7.7,2594
16,False,/sizHX5VbwlBihaathTQHVGk1jdi.jpg,"[878, 18, 28]",514207,ru,Вторжение,"Two years after the fall of the alien ship, th...",32.774,/dqKqzcdhtJwOhjqe89RTURqILtl.jpg,2020-01-01,Invasion,False,6.9,688
17,False,/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg,"[53, 878, 27]",570670,en,The Invisible Man,When Cecilia's abusive ex takes his own life a...,31.778,/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg,2020-02-26,The Invisible Man,False,7.1,5028
18,False,/3pIqd1hgZ2xqzWEyiYp4blqE9Fi.jpg,"[53, 36, 18, 28]",522241,en,The Courier,Cold War spy Greville Wynne and his Russian so...,30.611,/zFIjKtZrzhmc7HecdFXXjsLR2Ig.jpg,2020-01-24,The Courier,False,7.0,885
19,False,/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg,[27],575088,ru,Яга. Кошмар тёмного леса,The young family who moved to a new apartment ...,30.327,/8m5HTXzwewlfXhtZtLlLts53YTW.jpg,2020-02-27,Baba Yaga: Terror of the Dark Forest,False,6.0,201

##  Importing and Saving the Movies Dataset (Best Practice)

6. __API-Request__ (movie module): Load all available information for the movies with movie id = [__299534, 19995, 140607, 299536, 597, 135397, 420818, 24428, 168259, 99861, 284054, 12445, 181808, 330457, 351286, 109445, 321612, 260513__] into a Pandas DataFrame and __save the dataset in a local json file__.

In [45]:
movie_id = [299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [46]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [49]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie,api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)
df = pd.DataFrame(json_list)

In [50]:
requests.get(basic_url.format(0, api_key)) #status code

In [51]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,166.250,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.268,22812
1,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",520.687,/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,"[{'id': 444, 'logo_path': None, 'name': 'Dune ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-15,2920357254,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.568,28627
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,55.969,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.303,17825
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,323.206,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2046239637,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.263,26502
4,False,/rzdPqYx7Um4FUZeD8wpXqjAUcEm.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.paramountmovies.com/movies/titanic,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,163.484,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2187463944,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.900,22554
5,False,/aIGIYJTyOkEVUmEd3z5x6diYsFx.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,74.767,/A0LZHXUzo5C60Oahvt7VxvwuzHw.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-06-12,1671537444,124,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is open.,Jurassic World,False,6.679,18899
6,False,/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",107.948,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1663075401,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The King has Returned.,The Lion King,False,7.133,8993
7,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,192.204,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.707,28310
8,False,/cHkhb5A4gQRK6zs6Pv7zorHs8Nk.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://www.thefastsaga.com/fast-saga/ff7,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,91.054,/wurKlC3VKUgcfsn0K51MJYEleS2.jpg,"[{'id': 333, 'logo_path': '/5xUJfzPZ8jWJUDzYtI...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-01,1515341399,137,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,Vengeance hits home,Furious 7,False,7.232,9597
9,False,/6YwkGolwdOMNpbTOmLjoehlVWs5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",365000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,159.109,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.281,21047
10,False,/b6ZJZHUdMEFECvGiDpJjlfUWela.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.marvel.com/movies/black-panther,284054,tt1825683,en,Black Panther,"King T'Challa returns home to the reclusive, t...",77.337,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1349926083,135,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Long live the king.,Black Panther,False,7.394,20431
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",154.354,/c54HpQmuwXjHq2C9wmoACjxoom3.jpg,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-07,1341511219,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.100,18487
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,61.700,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332698830,152,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,6.842,13805
13,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",117.135,/mINJaa34MtknCYl5AjtNJzWj8cD.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1450026933,103,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The past is not what it seems.,Frozen II,False,7.281,8747
14,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,When the island's dormant volcano begins roari...,72.504,/x8cLgs0uXlb9rmpuVIxopoRGnCr.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-22,1310466296,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is gone.,Jurassic World: Fallen Kingdom,False,6.551,10014
15,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,93.022,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-20,1274219009,102,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.249,15027
16,False,/m3tdSyl11fhgXPDSEt3aBctTqGP.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,59.137,/hKegSKIDep2ewJWPUQD7u0KqFIp.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1263521126,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Be our guest.,Beauty and the Beast,False,6.967,14548
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,76.741,/9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Back to work.,Incredibles 2,False,7.490,11618

In [54]:
df = df.loc[:, ['title','id','revenue','genres','belongs_to_collection','runtime']].sort_values(by='revenue', ascending=False)
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2920357254,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2799439100,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671537444,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1663075401,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515341399,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1349926083,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [55]:
df.to_json('movies.json', orient='records')

In [56]:
with open('movies.json') as f:
    data = json.load(f)

In [57]:
pd.json_normalize(data)

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avatar,19995,2920357254,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/uO2yU3QiGHvVp0L5e5IatTVRkYk.jpg,/iaEsDbQPE45hQU2EGiNjXD2KWuF.jpg,NaN
1,Avengers: Endgame,299534,2799439100,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",136,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,Jurassic World,135397,1671537444,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,The Lion King,420818,1663075401,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",118,762512.0,The Lion King (Reboot) Collection,/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg,/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg,NaN
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1515341399,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/yvr1Ziehgps1VJyug8nnezTJRJW.jpg,/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg,NaN
9,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",103,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
11,Black Panther,284054,1349926083,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",135,529892.0,Black Panther Collection,/qT1JPO6IltC2B39QAriAg7SelMx.jpg,/yzVxUMYGKjK3GgmVI2BhmbuL9UY.jpg,NaN
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/4gV0rKUjB1nLUdZB4zIltLvNZZr.jpg,NaN
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",152,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",102,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/xMX1jZyObVeWUxDQmt53X6jzIO4.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [58]:
pd.json_normalize(data, 'genres', 'title')

       id             name                                         title
0      28           Action                                        Avatar
1      12        Adventure                                        Avatar
2      14          Fantasy                                        Avatar
3     878  Science Fiction                                        Avatar
4      12        Adventure                             Avengers: Endgame
5     878  Science Fiction                             Avengers: Endgame
6      28           Action                             Avengers: Endgame
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      12        Adventure                  Star Wars: The Force Awakens
10     28           Action                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     14          Fantasy                  Star Wars: The Force Awakens
13     12        Adventure                        Avengers: Infinity War
14     28           Action                        Avengers: Infinity War
15    878  Science Fiction                        Avengers: Infinity War
16     28           Action                                Jurassic World
17     12        Adventure                                Jurassic World
18    878  Science Fiction                                Jurassic World
19     53         Thriller                                Jurassic World
20     12        Adventure                                 The Lion King
21     18            Drama                                 The Lion King
22  10751           Family                                 The Lion King
23    878  Science Fiction                                  The Avengers
24     28           Action                                  The Avengers
25     12        Adventure                                  The Avengers
26     28           Action                                     Furious 7
27     53         Thriller                                     Furious 7
28     80            Crime                                     Furious 7
29  10751           Family                                     Frozen II
30     16        Animation                                     Frozen II
31     12        Adventure                                     Frozen II
32     35           Comedy                                     Frozen II
33     14          Fantasy                                     Frozen II
34     28           Action                       Avengers: Age of Ultron
35     12        Adventure                       Avengers: Age of Ultron
36    878  Science Fiction                       Avengers: Age of Ultron
37     28           Action                                 Black Panther
38     12        Adventure                                 Black Panther
39    878  Science Fiction                                 Black Panther
40     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
41     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
42     12        Adventure                      Star Wars: The Last Jedi
43     28           Action                      Star Wars: The Last Jedi
44    878  Science Fiction                      Star Wars: The Last Jedi
45     28           Action                Jurassic World: Fallen Kingdom
46     12        Adventure                Jurassic World: Fallen Kingdom
47    878  Science Fiction                Jurassic World: Fallen Kingdom
48     53         Thriller                Jurassic World: Fallen Kingdom
49     16        Animation                                        Frozen
50  10751           Family                                        Frozen
51     12        Adventure                                        Frozen
52     14          Fantasy                                        Frozen
53  10751           Family                          Beauty and the Beast
54     14          Fantasy                          Beauty and the Beast
55  10749          Romance                          Beauty and the Beast
56     28           Action                                 Incredibles 2
57     12        Adventure                                 Incredibles 2
58     16        Animation                                 Incredibles 2
59  10751           Family                                 Incredibles 2

In [59]:
df.to_csv('movies_raw.csv', index=False)

In [60]:
df = pd.read_csv('movies_raw.csv')
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avatar,19995,2920357254,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
1,Avengers: Endgame,299534,2799439100,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671537444,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1663075401,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515341399,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
11,Black Panther,284054,1349926083,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [61]:
df.genres[0]

"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]"

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++ Hints +++++++++++++++++++++

__Hints for 1.__ <br>
To load json files you can use

In [ ]:
with open("filename.json") as f:
    data = json.load(f)

and

In [ ]:
pd.DataFrame(data), pd.read_json(filename.json), pd.json_normalize(data)

the json files have the following orientation (important when using pd.read_json()):
- blockbusters.json -> record
- blockbusters2.json -> column
- blockbusters3.json -> split

__Hints for 4., 5., 6.__<br>
Make API GET-requests with the library requests (import requests):

In [ ]:
data = requests.get(url).json()

__Hints for 4. and 6.,__ <br> url structure for movie module:

"https://api.themoviedb.org/3/movie/insert_movie_id?api_key=insert_api_key" (replace "insert_movie_id" with movie id and "insert_api_key" with your personal api-key)

__Hints for 5.__<br>
url structure for discover module:

"https://api.themoviedb.org/3/discover/movie?api_key=insert_api_key&query1&query2..." (replace "insert_api_key" with your personal api-key and add appropriate queries)